<link href="/styles.css" rel="stylesheet" id="css" type="text/css">

<html>
<head>
    <link href="/styles.css" rel="stylesheet" id="bcss" type="text/css">
</head>
<body id="LoginForm">
<div class="container">
    <div class="login-form">
        <div class="main-div-2">
            <div class="panel">
                <h1>Welcome Back</h1>
                <p>Registered Users Login</p>
            </div>
            <div>
                <form id="login" method="POST" action='/login'>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-primary">Login</button>

                </form>
            </div>
        </div>
    </div></div></div>


</body>
</html>
