<link href="/styles.css" rel="stylesheet" id="css" type="text/css">

<html>
<head>
    <link href="/styles.css" rel="stylesheet" id="bcss">
    <title >Survey Form</title>

</head>
<body id="LoginForm">
<div class="container">
    <div class="login-form">

        <div class="main-div">
            <div class="panel">
                <h1>Questionnaire</h1>
            </div>
            <div>
                <form action="#" method="post" action="/survey">
                    <div class="servbuttons">
                    <a>What CS area are you interested in </a>
                    <input type="radio" name="CS" value="AI/ML"> AI/ML<br>
                    <input type="radio" name="CS" value="Cloud Computing"> Cloud Computing<br>
                    <input type="radio" name="CS" value="FSD"> Full Stack Development<br>
                    <input type="radio" name="CS" value="sec"> Cybersecurity<br>
                    <input type="radio" name="CS" value="DS"> Data Science<br>

                    <a>What would you rather have for dessert</a>
                    <input type="radio" name="dessert" value="frozen"> icecream/gelato<br>
                    <input type="radio" name="dessert" value="baked_things"> baked things<br>
                    <input type="radio" name="dessert" value="fruit"> fruit<br>

                    <a>What is your favorite exercise</a>
                    <input type="radio" name="dessert" value="frozen"> aerobics<br>
                    <input type="radio" name="dessert" value="baked_things"> weight lift<br>
                    <input type="radio" name="dessert" value="fruit"> what do you mean? I don't!<br>

                    <a>What language do you have the most experience with</a>
                    <input type="radio" name="dessert" value="frozen"> Java<br>
                    <input type="radio" name="dessert" value="baked_things"> Python<br>
                    <input type="radio" name="dessert" value="fruit"> C <br>
                        
                    </div>

                    <input type="submit" value="Submit">

                </form>


            </div>
        </div>
    </div>









</body>
</html>

