<link href="/styles.css" rel="stylesheet" id="css" type="text/css">

<html>
<head>
    <link href="/styles.css" rel="stylesheet" id="bcss">
    <title >Survey Form</title>

</head>
<body >
<div class="container">
    <div class="login-form">
        <div class="main-div-2">
            <div class="panel">
                <h1>Questionnaire</h1>
            </div>
            <div>
                <form action="#" method="post" action="/survey">
                    <table>
                        <tr>
                            <td> What is your favorite technology:</td>
                            <td><input type="text" name="Technology"/></td>
                        </tr>

                        <tr>
                            <td>  What University did you attend?:</td>
                            <td><input type="text" name="University"/></td>
                        </tr>

                        <tr>
                            <td>What is organizations have you been apart of?</td>
                            <td><input type="text" name="Organizations"/></td>
                        </tr>


                    </table>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>

