<link href="/styles.css" rel="stylesheet" id="css" type="text/css">

<html>
<head>
    <link href="/styles.css" rel="stylesheet" id="bcss" type="text/css">
</head>
<body id="LoginForm">
<div class="container">
    <div class="login-form">
        <div class="main-div-2">
            <div class="panel">
                <!--
                <h1>Welcome Back</h1>
                <p>Registered Users Login</p>
                -->
            </div>
            <div>
                <form action="login">
                    <button class="btn btn-primary">Login</button>
                </form>
    <!--            <a href="DellHack/views/login.html">
                    <button class="btn btn-primary">Login2</button>
                </a>-->
                <form action="signup">
                    <button class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>
